In [ ]:
# Step 1: Set Up the Environment
# Install required libraries (requests and pandas)
!pip install requests pandas -q

In [ ]:
# Step 2: Ingest Data from a Public REST API
# Example: Fetch random user data from the Random User Generator API.
import requests
import pandas as pd

api_url = "https://randomuser.me/api/?results=10"
response = requests.get(api_url)
data = response.json()

# Convert the results to a DataFrame
df_api = pd.json_normalize(data['results'])
print("Data from REST API:")
print(df_api.head())

Data from REST API:
   gender                         email           phone            cell nat  \
0    male      babur.pekkan@example.com  (882)-054-6907  (402)-236-5742  TR
1    male  anthony.coenraad@example.com   (068) 4530429   (06) 67742560  NL
2  female      freja.larsen@example.com        55934787        60098980  DK
3    male      joaquin.soto@example.com     936-834-352     695-212-221  ES
4  female   consuelo.ibanez@example.com     937-945-003     654-709-071  ES

  name.title name.first name.last  location.street.number  \
0         Mr      Babür    Pekkan                     709
1         Mr    Anthony  Coenraad                    2128
2        Mrs      Freja    Larsen                     311
3         Mr    Joaquin      Soto                    2117
4       Miss   Consuelo    Ibáñez                    5157

  location.street.name  ...  \
0          Filistin Cd  ...
1             Klarinet  ...
2             Langgade  ...
3        Calle Nebrija  ...
4      Calle de Atocha  ...

                                        login.sha256  \
0  4847e7b30ffb9e864a0e31bccf4dbdf824648a9f955b64...
1  06546d2bd911a44ccdbad27d476bfb3757472b4d858d96...
2  815059c8f616700632b65922cdfa011b9a0f8cafd754e7...
3  4ba66f571ae473376f884cb8bf32534c0f89c28ac85cff...
4  0aeda71fffb41a6026f08771d46d6a15edad743ecd9051...

                   dob.date dob.age           registered.date registered.age  \
0  1995-02-20T08:24:42.870Z      30  2013-12-02T15:36:20.373Z             11
1  1969-12-21T19:19:28.068Z      55  2015-11-05T11:13:24.928Z              9
2  1996-08-05T05:24:26.767Z      28  2015-12-27T03:30:20.871Z              9
3  1970-06-30T07:44:27.178Z      55  2014-05-03T07:56:43.410Z             11
4  1964-07-23T04:25:06.027Z      61  2021-02-05T16:43:45.565Z              4

  id.name     id.value                                     picture.large  \
0                 None    https://randomuser.me/api/portraits/men/53.jpg
1     BSN     92916826    https://randomuser.me/api/portraits/men/43.jpg
2     CPR  050896-4763  https://randomuser.me/api/portraits/women/78.jpg
3     DNI   51619182-Q     https://randomuser.me/api/portraits/men/2.jpg
4     DNI   70287531-O  https://randomuser.me/api/portraits/women/30.jpg

                                      picture.medium  \
0  https://randomuser.me/api/portraits/med/men/53...
1  https://randomuser.me/api/portraits/med/men/43...
2  https://randomuser.me/api/portraits/med/women/...
3  https://randomuser.me/api/portraits/med/men/2.jpg
4  https://randomuser.me/api/portraits/med/women/...

                                   picture.thumbnail
0  https://randomuser.me/api/portraits/thumb/men/...
1  https://randomuser.me/api/portraits/thumb/men/...
2  https://randomuser.me/api/portraits/thumb/wome...
3  https://randomuser.me/api/portraits/thumb/men/...
4  https://randomuser.me/api/portraits/thumb/wome...

[5 rows x 34 columns]

In [ ]:
# Step 3: Ingest Data from a CSV File
# Example using the Iris dataset (direct CSV link):

csv_url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df_csv = pd.read_csv(csv_url)
print("\nData from CSV File:")
print(df_csv.head())

Data from CSV File:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# Step 4: Inspect and Compare Data
# Perform basic inspection on both data sources.
# Inspect columns and info for both DataFrames
print("API Data Columns:", df_api.columns)
print("CSV Data Columns:", df_csv.columns)

print("\nAPI Data Info:")
print(df_api.info())

print("\nCSV Data Info:")
print(df_csv.info())

API Data Columns: Index(['gender', 'email', 'phone', 'cell', 'nat', 'name.title', 'name.first',
       'name.last', 'location.street.number', 'location.street.name',
       'location.city', 'location.state', 'location.country',
       'location.postcode', 'location.coordinates.latitude',
       'location.coordinates.longitude', 'location.timezone.offset',
       'location.timezone.description', 'login.uuid', 'login.username',
       'login.password', 'login.salt', 'login.md5', 'login.sha1',
       'login.sha256', 'dob.date', 'dob.age', 'registered.date',
       'registered.age', 'id.name', 'id.value', 'picture.large',
       'picture.medium', 'picture.thumbnail'],
      dtype='object')
CSV Data Columns: Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

API Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          10 non-null     object
 1   email                           10 non-null     object
 2   phone                           10 non-null     object
 3   cell                            10 non-null     object
 4   nat                             10 non-null     object
 5   name.title                      10 non-null     object
 6   name.first                      10 non-null     object
 7   name.last                       10 non-null     object
 8   location.street.number          10 non-null     int64
 9   location.street.name            10 non-null     object
 10  location.city                   10 non-null     object
 11  location.state                  10 non-null     object
 12  location.country                10 non-null     object
 13  location.postcode               10 non-null     object
 14  location.coordinates.latitude   10 non-null     object
 15  location.coordinates.longitude  10 non-null     object
 16  location.timezone.offset        10 non-null     object
 17  location.timezone.description   10 non-null     object
 18  login.uuid                      10 non-null     object
 19  login.username                  10 non-null     object
 20  login.password                  10 non-null     object
 21  login.salt                      10 non-null     object
 22  login.md5                       10 non-null     object
 23  login.sha1                      10 non-null     object
 24  login.sha256                    10 non-null     object
 25  dob.date                        10 non-null     object
 26  dob.age                         10 non-null     int64
 27  registered.date                 10 non-null     object
 28  registered.age                  10 non-null     int64
 29  id.name                         10 non-null     object
 30  id.value                        8 non-null      object
 31  picture.large                   10 non-null     object
 32  picture.medium                  10 non-null     object
 33  picture.thumbnail               10 non-null     object
dtypes: int64(3), object(31)
memory usage: 2.8+ KB
None

CSV Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [ ]:
df_api.to_csv("users_api.csv", index=False)
df_csv.to_csv("iris_csv.csv", index=False)

COVID -19

In [ ]:
!pip install requests pandas -q

In [ ]:
import requests
import pandas as pd

# API endpoint
url = "https://disease.sh/v3/covid-19/countries"

# Send request
response = requests.get(url)

# Check if response is successful
if response.status_code == 200:
    data = response.json()
    # Normalize JSON data into a flat table
    df_covid = pd.json_normalize(data)
    print("COVID-19 Data Loaded Successfully\n")
    print(df_covid.head())
else:
    print("Failed to retrieve data. Status code:", response.status_code)

COVID-19 Data Loaded Successfully

         updated      country   cases  todayCases  deaths  todayDeaths  \
0  1754300676200  Afghanistan  234174           0    7996            0
1  1754300676192      Albania  334863           0    3605            0
2  1754300676195      Algeria  272010           0    6881            0
3  1754300676243      Andorra   48015           0     165            0
4  1754300676222       Angola  107327           0    1937            0

   recovered  todayRecovered  active  critical  ...  oneTestPerPeople  \
0     211080               0   15098         0  ...                29
1     330233               0    1025         0  ...                 1
2     183061               0   82068         0  ...               196
3          0               0   47850         0  ...                 0
4     103419               0    1971         0  ...                23

   activePerOneMillion  recoveredPerOneMillion  criticalPerOneMillion  \
0               370.46                 5179.32                    0.0
1               357.59               115209.32                    0.0
2              1809.65                 4036.61                    0.0
3            617714.26                    0.00                    0.0
4                56.27                 2952.52                    0.0

   countryInfo._id countryInfo.iso2  countryInfo.iso3  countryInfo.lat  \
0              4.0               AF               AFG             33.0
1              8.0               AL               ALB             41.0
2             12.0               DZ               DZA             28.0
3             20.0               AD               AND             42.5
4             24.0               AO               AGO            -12.5

   countryInfo.long                            countryInfo.flag
0              65.0  https://disease.sh/assets/img/flags/af.png
1              20.0  https://disease.sh/assets/img/flags/al.png
2               3.0  https://disease.sh/assets/img/flags/dz.png
3               1.6  https://disease.sh/assets/img/flags/ad.png
4              18.5  https://disease.sh/assets/img/flags/ao.png

[5 rows x 28 columns]

In [ ]:
print("Columns:", df_covid.columns.tolist())
print("\nData Info:")
print(df_covid.info())

print("\nMissing Values:")
print(df_covid.isnull().sum())

Columns: ['updated', 'country', 'cases', 'todayCases', 'deaths', 'todayDeaths', 'recovered', 'todayRecovered', 'active', 'critical', 'casesPerOneMillion', 'deathsPerOneMillion', 'tests', 'testsPerOneMillion', 'population', 'continent', 'oneCasePerPeople', 'oneDeathPerPeople', 'oneTestPerPeople', 'activePerOneMillion', 'recoveredPerOneMillion', 'criticalPerOneMillion', 'countryInfo._id', 'countryInfo.iso2', 'countryInfo.iso3', 'countryInfo.lat', 'countryInfo.long', 'countryInfo.flag']

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   updated                 231 non-null    int64
 1   country                 231 non-null    object
 2   cases                   231 non-null    int64
 3   todayCases              231 non-null    int64
 4   deaths                  231 non-null    int64
 5   todayDeaths             231 non-null    int64
 6   recovered               231 non-null    int64
 7   todayRecovered          231 non-null    int64
 8   active                  231 non-null    int64
 9   critical                231 non-null    int64
 10  casesPerOneMillion      231 non-null    int64
 11  deathsPerOneMillion     231 non-null    int64
 12  tests                   231 non-null    int64
 13  testsPerOneMillion      231 non-null    int64
 14  population              231 non-null    int64
 15  continent               231 non-null    object
 16  oneCasePerPeople        231 non-null    int64
 17  oneDeathPerPeople       231 non-null    int64
 18  oneTestPerPeople        231 non-null    int64
 19  activePerOneMillion     231 non-null    float64
 20  recoveredPerOneMillion  231 non-null    float64
 21  criticalPerOneMillion   231 non-null    float64
 22  countryInfo._id         229 non-null    float64
 23  countryInfo.iso2        229 non-null    object
 24  countryInfo.iso3        229 non-null    object
 25  countryInfo.lat         231 non-null    float64
 26  countryInfo.long        231 non-null    float64
 27  countryInfo.flag        231 non-null    object
dtypes: float64(6), int64(17), object(5)
memory usage: 50.7+ KB
None

Missing Values:
updated                   0
country                   0
cases                     0
todayCases                0
deaths                    0
todayDeaths               0
recovered                 0
todayRecovered            0
active                    0
critical                  0
casesPerOneMillion        0
deathsPerOneMillion       0
tests                     0
testsPerOneMillion        0
population                0
continent                 0
oneCasePerPeople          0
oneDeathPerPeople         0
oneTestPerPeople          0
activePerOneMillion       0
recoveredPerOneMillion    0
criticalPerOneMillion     0
countryInfo._id           2
countryInfo.iso2          2
countryInfo.iso3          2
countryInfo.lat           0
countryInfo.long          0
countryInfo.flag          0
dtype: int64