<a href="https://colab.research.google.com/github/appliedcode/mthree-c422/blob/c422_Mounika/DAY_6_Mutiple_resocures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Step 1: Set Up Environment
!pip install pandas requests -q

In [ ]:
# Step 2: Ingest Data from Multiple Sources
# a. CSV File
import pandas as pd

csv_url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df_csv = pd.read_csv(csv_url)
print("CSV Data Sample:")
print(df_csv.head())

# b. JSON File
import json

json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)
print("\nJSON Data Sample:")
print(df_json.head())

#c. REST API
import requests

api_url = "https://randomuser.me/api/?results=5"
response = requests.get(api_url)
data = response.json()
df_api = pd.json_normalize(data['results'])
print("\nREST API Data Sample:")
print(df_api.head())

CSV Data Sample:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

JSON Data Sample:
   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

REST API Data Sample:
   gender                       email           phone            cell nat  \
0    male  jordan.jenkins@example.com    041-308-6784    081-430-0415  IE
1    male      jimi.harju@example.com      03-994-034   048-631-34-44  FI
2    male   pablo.richard@example.com  03-94-77-52-89  06-16-36-62-48  FR
3  female         ln.rdyy@example.com    048-50095840   0935-692-2652  IR
4    male   armando.garza@example.com  (844) 227-9965  (686) 583-1277  US

  name.title name.first name.last  location.street.number  \
0         Mr     Jordan   Jenkins                    8417
1         Mr       Jimi     Harju                    7799
2         Mr      Pablo   Richard                    6190
3         Ms       النا     رضایی                    3066
4         Mr    Armando     Garza                    7944

  location.street.name  ...  \
0         Boghall Road  ...
1          Suvantokatu  ...
2    Rue Dugas-Montbel  ...
3                داودی  ...
4     Hickory Creek Dr  ...

                                        login.sha256  \
0  cee3b09d28511cf1319cab1b27d26f242d23889aa0c44b...
1  f27989c74836324fcc21c1b53e2e9fcbc9678d7d698ace...
2  0351f13ad7bfedc3796cfb9f9c69b685132ccdebd2d458...
3  4f196e609980de57b475cc51444ebe1e8feab6cd619909...
4  0f1ce74713b05b8eae8017d2c7c6c269461ae5c76870c1...

                   dob.date dob.age           registered.date registered.age  \
0  1960-10-09T17:30:21.481Z      64  2019-10-11T19:57:29.448Z              5
1  1961-06-12T05:09:18.239Z      64  2021-09-24T05:48:35.753Z              3
2  1967-12-01T17:35:08.402Z      57  2012-04-03T01:09:00.368Z             13
3  1969-10-18T05:37:13.254Z      55  2011-11-27T23:04:07.231Z             13
4  1986-11-17T00:25:24.221Z      38  2016-06-01T06:59:26.192Z              9

  id.name           id.value  \
0     PPS           1230267T
1    HETU  NaNNA277undefined
2   INSEE   1671148479283 03
3                       None
4     SSN        226-38-5609

                                      picture.large  \
0    https://randomuser.me/api/portraits/men/70.jpg
1     https://randomuser.me/api/portraits/men/1.jpg
2    https://randomuser.me/api/portraits/men/96.jpg
3  https://randomuser.me/api/portraits/women/62.jpg
4    https://randomuser.me/api/portraits/men/17.jpg

                                      picture.medium  \
0  https://randomuser.me/api/portraits/med/men/70...
1  https://randomuser.me/api/portraits/med/men/1.jpg
2  https://randomuser.me/api/portraits/med/men/96...
3  https://randomuser.me/api/portraits/med/women/...
4  https://randomuser.me/api/portraits/med/men/17...

                                   picture.thumbnail
0  https://randomuser.me/api/portraits/thumb/men/...
1  https://randomuser.me/api/portraits/thumb/men/...
2  https://randomuser.me/api/portraits/thumb/men/...
3  https://randomuser.me/api/portraits/thumb/wome...
4  https://randomuser.me/api/portraits/thumb/men/...

[5 rows x 34 columns]

In [ ]:
# Step 2: Ingest Data from Multiple Sources
# a. CSV File
import pandas as pd

csv_url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df_csv = pd.read_csv(csv_url)
print("CSV Data Sample:")
print(df_csv.columns)

# b. JSON File
import json

json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)
print("\nJSON Data Sample:")
print(df_json.head())

#c. REST API
import requests

api_url = "https://randomuser.me/api/?results=5"
response = requests.get(api_url)
data = response.json()
df_api = pd.json_normalize(data['results'])
print("\nREST API Data Sample:")
print(df_api.head())

CSV Data Sample:
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

JSON Data Sample:
   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

REST API Data Sample:
   gender                        email           phone            cell nat  \
0  female     grace.cooper@example.com  (305)-017-7025  (865)-336-9307  NZ
1    male        hugo.mota@example.com  (697) 151 9585  (603) 623 3766  MX
2  female    noemie.martin@example.com  01-89-48-37-07  06-58-08-59-72  FR
3    male         emile.li@example.com    L91 X39-3949    H78 T23-3172  CA
4  female  deborah.morales@example.com    015395 27522    07776 346002  GB

  name.title name.first name.last  location.street.number  \
0        Mrs      Grace    Cooper                    6602
1         Mr       Hugo      Mota                    8827
2         Ms     Noemie    Martin                    3336
3         Mr      Emile        Li                    1600
4       Miss    Deborah   Morales                    3300

     location.street.name  ...  \
0              Innes Road  ...
1          Retorno Oaxaca  ...
2  Quai Charles-De-Gaulle  ...
3            Richmond Ave  ...
4          Highfield Road  ...

                                        login.sha256  \
0  4b5be0e4672d27203978ac67402b582136e1ebd7b89745...
1  3138b5c592fb981b5fb54175d791b904f65745edd88c2c...
2  049228a1ecef9d57fd50b1e9643d92f93e1cae1135ab9c...
3  19b9a9926b4a6df19d7f14bc66c0fa953ca3281ad17d1c...
4  2b15543d86d0d7a8626b56b2624f5057c5d3d1fe40db9a...

                   dob.date dob.age           registered.date registered.age  \
0  1978-11-23T19:52:19.627Z      46  2002-08-14T15:54:37.910Z             22
1  1993-04-20T18:55:37.672Z      32  2019-12-30T02:54:28.738Z              5
2  1995-07-23T03:11:48.758Z      30  2014-03-24T03:50:38.868Z             11
3  1952-07-03T22:47:09.413Z      73  2022-02-12T02:14:01.929Z              3
4  1991-08-20T22:54:11.505Z      33  2007-12-09T01:51:00.554Z             17

  id.name          id.value                                     picture.large  \
0                      None  https://randomuser.me/api/portraits/women/55.jpg
1     NSS   98 77 86 6112 9    https://randomuser.me/api/portraits/men/21.jpg
2   INSEE  2950636196768 40  https://randomuser.me/api/portraits/women/74.jpg
3     SIN         842523672    https://randomuser.me/api/portraits/men/56.jpg
4    NINO     XK 81 17 42 Y  https://randomuser.me/api/portraits/women/37.jpg

                                      picture.medium  \
0  https://randomuser.me/api/portraits/med/women/...
1  https://randomuser.me/api/portraits/med/men/21...
2  https://randomuser.me/api/portraits/med/women/...
3  https://randomuser.me/api/portraits/med/men/56...
4  https://randomuser.me/api/portraits/med/women/...

                                   picture.thumbnail
0  https://randomuser.me/api/portraits/thumb/wome...
1  https://randomuser.me/api/portraits/thumb/men/...
2  https://randomuser.me/api/portraits/thumb/wome...
3  https://randomuser.me/api/portraits/thumb/men/...
4  https://randomuser.me/api/portraits/thumb/wome...

[5 rows x 34 columns]

In [ ]:
# Step 3: Modular Cleaning/Transformation
# Example: Clean and select specific columns from each

# For CSV (Iris), let's only keep numeric columns and rename
df_csv_clean = df_csv.rename(columns={'species':'source'}).dropna()

# For JSON (User info), select name and email
df_json_clean = df_json[['name', 'email']].copy()
df_json_clean['source'] = 'json'

# For API data (Random users), grab first/last name, email
df_api_clean = pd.DataFrame()
df_api_clean['name'] = df_api['name.first'] + " " + df_api['name.last']
df_api_clean['email'] = df_api['email']
df_api_clean['source'] = 'api'

In [ ]:
# Step 4: Prepare each cleaned DataFrame with identical columns

common_cols = ['name', 'email', 'source',
               'sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# CSV (Iris) — rename species to name, add missing columns
df_csv_clean = df_csv.rename(columns={'species': 'name'})
df_csv_clean['email'] = None
df_csv_clean['source'] = 'csv'
for col in ['sepal_length','sepal_width','petal_length','petal_width']:
    # numeric columns already exist
    pass

# JSON (Users) — add placeholder iris columns
df_json_clean = df_json[['name','email']].copy()
df_json_clean['source'] = 'json'
for col in ['sepal_length','sepal_width','petal_length','petal_width']:
    df_json_clean[col] = None

# API (Random Users) — add placeholder iris columns
df_api_clean = pd.DataFrame({
    'name': df_api['name.first'] + ' ' + df_api['name.last'],
    'email': df_api['email'],
    'source': 'api'
})
for col in ['sepal_length','sepal_width','petal_length','petal_width']:
    df_api_clean[col] = None

# Step 5: Concatenate into unified DataFrame
unified_df = pd.concat([
    df_csv_clean[common_cols],
    df_json_clean[common_cols],
    df_api_clean[common_cols]
], ignore_index=True)

print("\nUnified Clean Dataset Sample:")
print(unified_df.head(10))

Unified Clean Dataset Sample:
     name email source  sepal_length  sepal_width  petal_length  petal_width
0  setosa  None    csv           5.1          3.5           1.4          0.2
1  setosa  None    csv           4.9          3.0           1.4          0.2
2  setosa  None    csv           4.7          3.2           1.3          0.2
3  setosa  None    csv           4.6          3.1           1.5          0.2
4  setosa  None    csv           5.0          3.6           1.4          0.2
5  setosa  None    csv           5.4          3.9           1.7          0.4
6  setosa  None    csv           4.6          3.4           1.4          0.3
7  setosa  None    csv           5.0          3.4           1.5          0.2
8  setosa  None    csv           4.4          2.9           1.4          0.2
9  setosa  None    csv           4.9          3.1           1.5          0.1

/tmp/ipython-input-1748254337.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  unified_df = pd.concat([

In [ ]:
# Step 4: Prepare each cleaned DataFrame with identical columns

common_cols = ['name', 'email', 'source',
               'sepal_length', 'sepal_width', 'petal_length']

# CSV (Iris) — rename species to name, add missing columns
df_csv_clean = df_csv.rename(columns={'species': 'name'})
df_csv_clean['email'] = None
df_csv_clean['source'] = 'csv'
for col in ['sepal_length','sepal_width','petal_length']:
    # numeric columns already exist
    pass

# JSON (Users) — add placeholder iris columns
df_json_clean = df_json[['name','email']].copy()
df_json_clean['source'] = 'json'
for col in ['sepal_length','sepal_width','petal_length',]:
    df_json_clean[col] = None

# API (Random Users) — add placeholder iris columns
df_api_clean = pd.DataFrame({
    'name': df_api['name.first'] + ' ' + df_api['name.last'],
    'email': df_api['email'],
    'source': 'api'
})
for col in ['sepal_length','sepal_width','petal_length',]:
    df_api_clean[col] = None

# Step 5: Concatenate into unified DataFrame
unified_df = pd.concat([
    df_csv_clean[common_cols],
    df_json_clean[common_cols],
    df_api_clean[common_cols]
], ignore_index=True)

print("\nUnified Clean Dataset Sample:")
print(unified_df.head(10))

Unified Clean Dataset Sample:
     name email source  sepal_length  sepal_width  petal_length
0  setosa  None    csv           5.1          3.5           1.4
1  setosa  None    csv           4.9          3.0           1.4
2  setosa  None    csv           4.7          3.2           1.3
3  setosa  None    csv           4.6          3.1           1.5
4  setosa  None    csv           5.0          3.6           1.4
5  setosa  None    csv           5.4          3.9           1.7
6  setosa  None    csv           4.6          3.4           1.4
7  setosa  None    csv           5.0          3.4           1.5
8  setosa  None    csv           4.4          2.9           1.4
9  setosa  None    csv           4.9          3.1           1.5

/tmp/ipython-input-3614858963.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  unified_df = pd.concat([

In [ ]:
import pandas as pd
import requests

# CSV: Historical weather
csv_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/us-weather-history/KCLT.csv"
df_csv = pd.read_csv(csv_url)
df_csv_clean = df_csv[['date', 'actual_mean_temp']].copy()
df_csv_clean.columns = ['date', 'value']
df_csv_clean['source'] = 'csv'

# JSON: Sample API data
json_url = "https://raw.githubusercontent.com/json-iterator/test-data/master/large-file.json" # Using a different JSON URL
df_json = pd.read_json(json_url)
df_json_clean = pd.DataFrame({
    'date': [pd.Timestamp.today().strftime('%Y-%m-%d')],
    'value': [len(df_json)],
    'source': ['json']
})

# REST API: Current weather data
api_url = "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current_weather=true"
response = requests.get(api_url)
if response.status_code == 200:
    current_temp = response.json()['current_weather']['temperature']
    df_api_clean = pd.DataFrame({
        'date': [pd.Timestamp.today().strftime('%Y-%m-%d')],
        'value': [current_temp],
        'source': ['api']
    })
else:
    df_api_clean = pd.DataFrame(columns=['date', 'value', 'source'])

# Combine all
unified_df = pd.concat([df_csv_clean, df_json_clean, df_api_clean], ignore_index=True)
print(unified_df.head(10))

        date  value source
0   2014-7-1   81.0    csv
1   2014-7-2   85.0    csv
2   2014-7-3   82.0    csv
3   2014-7-4   75.0    csv
4   2014-7-5   72.0    csv
5   2014-7-6   74.0    csv
6   2014-7-7   79.0    csv
7   2014-7-8   83.0    csv
8   2014-7-9   80.0    csv
9  2014-7-10   78.0    csv

In [ ]:
import pandas as pd
import requests

# Step 1: Load CSV - Online Retail Sales
csv_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
df_csv = pd.read_excel(csv_url)

# Clean CSV data: Use Description and UnitPrice
df_csv_clean = df_csv[['Description', 'UnitPrice']].dropna()
df_csv_clean.columns = ['product_name', 'price']
df_csv_clean['source'] = 'csv'

# Step 2: Load JSON - Sample Product Test Results
# Using a different JSON URL with a simpler structure
json_url = "https://jsonplaceholder.typicode.com/posts"
response = requests.get(json_url)
data = response.json()

# Create DataFrame from the JSON data
# Assuming the new JSON has a list of dictionaries with 'title' and 'id'
json_products = []
for item in data:
    if 'title' in item and 'id' in item:
        # Using 'title' as product_name and 'id' as a mock price
        json_products.append({'product_name': item['title'], 'price': item['id']})

df_json_clean = pd.DataFrame(json_products)
df_json_clean['source'] = 'json'


# Step 3: Load API - Fake Store Products
api_url = "https://fakestoreapi.com/products"
response = requests.get(api_url)

if response.status_code == 200:
    api_data = response.json()
    df_api_clean = pd.DataFrame(api_data)[['title', 'price']]
    df_api_clean.columns = ['product_name', 'price']
    df_api_clean['source'] = 'api'
else:
    df_api_clean = pd.DataFrame(columns=['product_name', 'price', 'source'])


# Step 4: Combine All Sources
unified_df = pd.concat([df_csv_clean, df_json_clean, df_api_clean], ignore_index=True)

# Step 5: Preview Output
print("Unified Product Dataset (First 10 Rows):")
print(unified_df.head(10))

Unified Product Dataset (First 10 Rows):
                          product_name  price source
0   WHITE HANGING HEART T-LIGHT HOLDER   2.55    csv
1                  WHITE METAL LANTERN   3.39    csv
2       CREAM CUPID HEARTS COAT HANGER   2.75    csv
3  KNITTED UNION FLAG HOT WATER BOTTLE   3.39    csv
4       RED WOOLLY HOTTIE WHITE HEART.   3.39    csv
5         SET 7 BABUSHKA NESTING BOXES   7.65    csv
6    GLASS STAR FROSTED T-LIGHT HOLDER   4.25    csv
7               HAND WARMER UNION JACK   1.85    csv
8            HAND WARMER RED POLKA DOT   1.85    csv
9        ASSORTED COLOUR BIRD ORNAMENT   1.69    csv