In [1]:
# Step 1: Set Up the Environment
# Install required libraries (requests and pandas)
!pip install requests pandas -q

In [2]:

# Step 2: Ingest Data from a Public REST API
# Example: Fetch random user data from the Random User Generator API.
import requests
import pandas as pd

api_url = "https://randomuser.me/api/?results=10"
response = requests.get(api_url)
data = response.json()

# Convert the results to a DataFrame
df_api = pd.json_normalize(data['results'])
print("Data from REST API:")
print(df_api.head())

Data from REST API:
   gender                         email           phone            cell nat  \
0  female     andrea.novaes@example.com  (22) 2698-6038  (84) 7776-0907  BR
1  female     harper.miller@example.com    D56 O59-8974    O45 K35-7497  CA
2  female       ilona.arola@example.com      05-648-421   048-265-61-65  FI
3  female      agniya.kayda@example.com  (066) V08-7993  (098) M91-7846  UA
4  female  maiwenn.gonzalez@example.com  01-17-69-86-31  06-57-05-34-28  FR

  name.title name.first name.last  location.street.number  \
0        Mrs     Andréa    Novaes                     172
1       Miss     Harper    Miller                    6350
2       Miss      Ilona     Arola                    6305
3         Ms     Agniya     Kayda                    6845
4        Mrs    Maïwenn  Gonzalez                    6292

  location.street.name  ...  \
0   Beco dos Namorados  ...
1              Peel St  ...
2         Reijolankatu  ...
3       Krizhanivskogo  ...
4   Place de la Mairie  ...

                                        login.sha256  \
0  363e40bfc8d040f5bc0ea8a5a1d6437ab80aadc19bce05...
1  50a02e37f4048870275da8b8b4714a0685bda7648be710...
2  8885359d2ddd2d6afd89f2716a963303821a10d1952806...
3  5fa984ad1f95a0ead1877c28ec476205ec96480d607b83...
4  eb7caa93f418db47199a9dff991c8b8faa2f88f48724a2...

                   dob.date dob.age           registered.date registered.age  \
0  1946-05-14T11:11:57.137Z      79  2008-02-07T09:33:40.504Z             17
1  1991-07-25T04:16:20.981Z      34  2009-09-13T14:30:39.064Z             15
2  1993-09-17T02:29:34.569Z      31  2016-11-20T07:29:55.509Z              8
3  1990-08-28T18:40:13.820Z      34  2014-05-04T16:55:24.524Z             11
4  1964-01-08T20:54:19.050Z      61  2017-07-09T07:40:35.222Z              8

  id.name           id.value  \
0     CPF     712.906.477-74
1     SIN          768552259
2    HETU  NaNNA276undefined
3                       None
4   INSEE   2640031968498 48

                                      picture.large  \
0  https://randomuser.me/api/portraits/women/63.jpg
1  https://randomuser.me/api/portraits/women/75.jpg
2   https://randomuser.me/api/portraits/women/9.jpg
3  https://randomuser.me/api/portraits/women/28.jpg
4  https://randomuser.me/api/portraits/women/17.jpg

                                      picture.medium  \
0  https://randomuser.me/api/portraits/med/women/...
1  https://randomuser.me/api/portraits/med/women/...
2  https://randomuser.me/api/portraits/med/women/...
3  https://randomuser.me/api/portraits/med/women/...
4  https://randomuser.me/api/portraits/med/women/...

                                   picture.thumbnail
0  https://randomuser.me/api/portraits/thumb/wome...
1  https://randomuser.me/api/portraits/thumb/wome...
2  https://randomuser.me/api/portraits/thumb/wome...
3  https://randomuser.me/api/portraits/thumb/wome...
4  https://randomuser.me/api/portraits/thumb/wome...

[5 rows x 34 columns]

In [3]:
# Step 3: Ingest Data from a CSV File
# Example using the Iris dataset (direct CSV link):

csv_url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df_csv = pd.read_csv(csv_url)
print("\nData from CSV File:")
print(df_csv.head())

Data from CSV File:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
print("API Data Columns:", df_api.columns)
print("CSV Data Columns:", df_csv.columns)

print("\nAPI Data Info:")
print(df_api.info())

print("\nCSV Data Info:")
print(df_csv.info())

API Data Columns: Index(['gender', 'email', 'phone', 'cell', 'nat', 'name.title', 'name.first',
       'name.last', 'location.street.number', 'location.street.name',
       'location.city', 'location.state', 'location.country',
       'location.postcode', 'location.coordinates.latitude',
       'location.coordinates.longitude', 'location.timezone.offset',
       'location.timezone.description', 'login.uuid', 'login.username',
       'login.password', 'login.salt', 'login.md5', 'login.sha1',
       'login.sha256', 'dob.date', 'dob.age', 'registered.date',
       'registered.age', 'id.name', 'id.value', 'picture.large',
       'picture.medium', 'picture.thumbnail'],
      dtype='object')
CSV Data Columns: Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

API Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          10 non-null     object
 1   email                           10 non-null     object
 2   phone                           10 non-null     object
 3   cell                            10 non-null     object
 4   nat                             10 non-null     object
 5   name.title                      10 non-null     object
 6   name.first                      10 non-null     object
 7   name.last                       10 non-null     object
 8   location.street.number          10 non-null     int64
 9   location.street.name            10 non-null     object
 10  location.city                   10 non-null     object
 11  location.state                  10 non-null     object
 12  location.country                10 non-null     object
 13  location.postcode               10 non-null     object
 14  location.coordinates.latitude   10 non-null     object
 15  location.coordinates.longitude  10 non-null     object
 16  location.timezone.offset        10 non-null     object
 17  location.timezone.description   10 non-null     object
 18  login.uuid                      10 non-null     object
 19  login.username                  10 non-null     object
 20  login.password                  10 non-null     object
 21  login.salt                      10 non-null     object
 22  login.md5                       10 non-null     object
 23  login.sha1                      10 non-null     object
 24  login.sha256                    10 non-null     object
 25  dob.date                        10 non-null     object
 26  dob.age                         10 non-null     int64
 27  registered.date                 10 non-null     object
 28  registered.age                  10 non-null     int64
 29  id.name                         10 non-null     object
 30  id.value                        7 non-null      object
 31  picture.large                   10 non-null     object
 32  picture.medium                  10 non-null     object
 33  picture.thumbnail               10 non-null     object
dtypes: int64(3), object(31)
memory usage: 2.8+ KB
None

CSV Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [5]:
# (Optional) Save Your Results
# Save both datasets to Colab files (optional)
df_api.to_csv("users_api.csv", index=False)
df_csv.to_csv("iris_csv.csv", index=False)