In [195]:
import pandas as pd

In [196]:
df  = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [197]:
df.shape

(918, 12)

In [198]:
import numpy as np
from scipy.stats import zscore

df_numeric = df.select_dtypes(include = [np.number])

z_scores = np.abs(zscore(df_numeric))

threshold = 3

filtered = (z_scores < threshold).all(axis = 1)

df_1 = df[filtered]
df_1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [199]:
df_1.shape

(899, 12)

In [200]:
df_2 = pd.get_dummies(df_1, dtype = 'int')
df_2.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,1,0,1,...,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1

In [201]:
X = df_2.drop('HeartDisease', axis = 1)
y = df_2['HeartDisease']

In [202]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)
X_scaled.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,-1.428154,0.465900,0.849636,-0.550362,1.384320,-0.855469,-0.515943,0.515943,-1.077524,2.063325,-0.534905,-0.22955,-0.503821,0.809702,-0.489898,0.822945,-0.822945,-0.260184,-0.998888,1.134695
1,-0.475855,1.634714,-0.168122,-0.550362,0.752973,0.137516,1.938199,-1.938199,-1.077524,-0.484655,1.869492,-0.22955,-0.503821,0.809702,-0.489898,0.822945,-0.822945,-0.260184,1.001113,-0.881294
2,-1.745588,-0.118507,0.793612,-0.550362,-1.535661,-0.855469,-0.515943,0.515943,-1.077524,2.063325,-0.534905,-0.22955,-0.503821,-1.235023,2.041241,0.822945,-0.822945,-0.260184,-0.998888,1.134695
3,-0.581666,0.349019,0.149344,-0.550362,-1.141069,0.634008,1.938199,-1.938199,0.928054,-0.484655,-0.534905,-0.22955,-0.503821,0.809702,-0.489898,-1.215148,1.215148,-0.260184,1.001113,-0.881294
4,0.053200,1.050307,-0.028064,-0.550362,-0.588640,-0.855469,-0.515943,0.515943,-1.077524,-0.484655,1.869492,-0.22955,-0.503821,0.809702,-0.489898,0.822945,-0.822945,-0.260184,-0.998888,1.134695

In [203]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size =0.2, random_state = 5)

In [204]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

models = {'Logistic Regression': LogisticRegression(), 'Random Forest': RandomForestClassifier(), 'SVC': SVC()}


def get_scores(X_train, X_test, y_train, y_test):
    for model_name, model in models.items():
        model.fit(X_train, y_train)
        print(f'{model_name}: {model.score(X_test, y_test)}')
get_scores(X_train, X_test, y_train, y_test)

Logistic Regression: 0.8388888888888889
Random Forest: 0.8666666666666667
SVC: 0.8666666666666667

In [205]:
from sklearn.decomposition import PCA
pca = PCA(0.75)
X_pca = pca.fit_transform(X_scaled)

X_pca

array([[-3.07632929,  1.37194592,  0.36668635, ...,  0.51882565,
         1.08800069, -0.05563191],
       [-1.4822913 , -1.94628472,  1.56770925, ...,  0.72808494,
         0.38612342, -0.03212069],
       [-1.90879622,  0.72479903, -1.45053144, ...,  1.30590595,
         0.22104469, -0.94849009],
       ...,
       [ 2.42443136,  0.812539  ,  1.46848862, ...,  0.02313102,
        -0.15199078,  0.15224925],
       [-2.15334712, -3.27195461,  0.16515638, ..., -1.07093728,
        -0.35372948, -0.31212564],
       [-2.6648836 ,  1.54739427, -0.23135553, ...,  1.36818966,
        -0.37673502, -0.0499159 ]])

In [206]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size =0.2, random_state = 5)

In [207]:
get_scores(X_train_pca, X_test_pca, y_train, y_test)

Logistic Regression: 0.8388888888888889
Random Forest: 0.8555555555555555
SVC: 0.8722222222222222