<a href="https://colab.research.google.com/github/appliedcode/mthree-c422/blob/main/Exercises/day-6/Multiple_Sources/Multiple_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Practical Data Ingestion from Multiple Sources in Colab
This lab is inspired by the image and will guide you through ingesting data from multiple sources **(CSV, JSON, REST API)**, cleaning and transforming the data, and producing a unified clean dataset using Python and pandas in Google Colab.

Objectives
- Ingest data from CSV, JSON, and REST API sources

- Use a central “ingestion layer” (pandas) for data import

- Apply cleaning and transformation steps modularly

- Consolidate results into a single, unified output

In [1]:
# Step 1: Set Up Environment
!pip install pandas requests -q

In [2]:
# Step 2: Ingest Data from Multiple Sources
# a. CSV File
import pandas as pd

csv_url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df_csv = pd.read_csv(csv_url)
print("CSV Data Sample:")
print(df_csv.head())

# b. JSON File
import json

json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)
print("\nJSON Data Sample:")
print(df_json.head())

#c. REST API
import requests

api_url = "https://randomuser.me/api/?results=5"
response = requests.get(api_url)
data = response.json()
df_api = pd.json_normalize(data['results'])
print("\nREST API Data Sample:")
print(df_api.head())

CSV Data Sample:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

JSON Data Sample:
   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

REST API Data Sample:
   gender                       email           phone            cell nat  \
0  female     venla.koski@example.com      02-443-271   048-116-02-69  FI
1    male     emil.ketola@example.com      04-649-387   045-142-84-56  FI
2  female   fatma.demirel@example.com  (729)-262-4996  (286)-807-5700  TR
3  female        lea.klop@example.com   (058) 6665221   (06) 22322373  NL
4    male  asher.williams@example.com  (101)-560-5202  (726)-763-3918  NZ

  name.title name.first name.last  location.street.number  \
0        Mrs      Venla     Koski                    9790
1         Mr       Emil    Ketola                    6823
2         Ms      Fatma   Demirel                      48
3       Miss        Lea      Klop                    6881
4         Mr      Asher  Williams                    3148

  location.street.name  ...  \
0       Mechelininkatu  ...
1          Tehtaankatu  ...
2     Talak Göktepe Cd  ...
3          Binnenvaert  ...
4     Main Street East  ...

                                        login.sha256  \
0  9c087c16e5953df8e84681e7f7a0e4e0fb0689489c122f...
1  5f895dd9c0fd1d07fce461539004eaa59f5f1f2e4da404...
2  1c77c46dd6e8694a807272fdcbb213f1d8e23653551c0d...
3  928555fcfc86f8d2ebca7d72b67646eadf952bd14e39fa...
4  35ad86ce036f148c564fe7374974bb3903c107b6860739...

                   dob.date dob.age           registered.date registered.age  \
0  1950-07-14T11:02:34.541Z      75  2009-12-04T03:33:09.922Z             15
1  1958-08-24T02:33:41.182Z      66  2017-12-19T07:23:00.190Z              7
2  1963-05-02T11:45:07.912Z      62  2011-10-11T08:38:38.634Z             13
3  1960-03-06T13:15:12.043Z      65  2015-09-05T08:19:05.144Z              9
4  1980-03-05T18:34:57.020Z      45  2012-06-18T17:09:50.466Z             13

  id.name           id.value  \
0    HETU  NaNNA790undefined
1    HETU  NaNNA437undefined
2                       None
3     BSN           43253715
4                       None

                                      picture.large  \
0   https://randomuser.me/api/portraits/women/9.jpg
1     https://randomuser.me/api/portraits/men/3.jpg
2   https://randomuser.me/api/portraits/women/7.jpg
3  https://randomuser.me/api/portraits/women/42.jpg
4     https://randomuser.me/api/portraits/men/3.jpg

                                      picture.medium  \
0  https://randomuser.me/api/portraits/med/women/...
1  https://randomuser.me/api/portraits/med/men/3.jpg
2  https://randomuser.me/api/portraits/med/women/...
3  https://randomuser.me/api/portraits/med/women/...
4  https://randomuser.me/api/portraits/med/men/3.jpg

                                   picture.thumbnail
0  https://randomuser.me/api/portraits/thumb/wome...
1  https://randomuser.me/api/portraits/thumb/men/...
2  https://randomuser.me/api/portraits/thumb/wome...
3  https://randomuser.me/api/portraits/thumb/wome...
4  https://randomuser.me/api/portraits/thumb/men/...

[5 rows x 34 columns]

In [3]:
# Step 3: Modular Cleaning/Transformation
# Example: Clean and select specific columns from each

# For CSV (Iris), let's only keep numeric columns and rename
df_csv_clean = df_csv.rename(columns={'species':'source'}).dropna()

# For JSON (User info), select name and email
df_json_clean = df_json[['name', 'email']].copy()
df_json_clean['source'] = 'json'

# For API data (Random users), grab first/last name, email
df_api_clean = pd.DataFrame()
df_api_clean['name'] = df_api['name.first'] + " " + df_api['name.last']
df_api_clean['email'] = df_api['email']
df_api_clean['source'] = 'api'

In [8]:
# Step 4: Prepare each cleaned DataFrame with identical columns

common_cols = ['name', 'email', 'source',
               'sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# CSV (Iris) — rename species to name, add missing columns
df_csv_clean = df_csv.rename(columns={'species': 'name'})
df_csv_clean['email'] = None
df_csv_clean['source'] = 'csv'
for col in ['sepal_length','sepal_width','petal_length','petal_width']:
    # numeric columns already exist
    pass

# JSON (Users) — add placeholder iris columns
df_json_clean = df_json[['name','email']].copy()
df_json_clean['source'] = 'json'
for col in ['sepal_length','sepal_width','petal_length','petal_width']:
    df_json_clean[col] = None

# API (Random Users) — add placeholder iris columns
df_api_clean = pd.DataFrame({
    'name': df_api['name.first'] + ' ' + df_api['name.last'],
    'email': df_api['email'],
    'source': 'api'
})
for col in ['sepal_length','sepal_width','petal_length','petal_width']:
    df_api_clean[col] = None

# Step 5: Concatenate into unified DataFrame
unified_df = pd.concat([
    df_csv_clean[common_cols],
    df_json_clean[common_cols],
    df_api_clean[common_cols]
], ignore_index=True)

print("\nUnified Clean Dataset Sample:")
print(unified_df.head(10))

Unified Clean Dataset Sample:
     name email source  sepal_length  sepal_width  petal_length  petal_width
0  setosa  None    csv           5.1          3.5           1.4          0.2
1  setosa  None    csv           4.9          3.0           1.4          0.2
2  setosa  None    csv           4.7          3.2           1.3          0.2
3  setosa  None    csv           4.6          3.1           1.5          0.2
4  setosa  None    csv           5.0          3.6           1.4          0.2
5  setosa  None    csv           5.4          3.9           1.7          0.4
6  setosa  None    csv           4.6          3.4           1.4          0.3
7  setosa  None    csv           5.0          3.4           1.5          0.2
8  setosa  None    csv           4.4          2.9           1.4          0.2
9  setosa  None    csv           4.9          3.1           1.5          0.1

/tmp/ipython-input-1068823431.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  unified_df = pd.concat([

# Step 5: Reflection
- Identify which steps required the most standardization.

- What common problems occur when merging data of different shapes and sources?

- Why is a central ingestion and transformation layer important for reliability and scalability?