In [4]:
!pip install pandas requests -q

In [5]:
import pandas as pd
import requests

csv_url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df_csv = pd.read_csv(csv_url)

print("CSV Data Sample:")
print(df_csv.head())

CSV Data Sample:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)

print("\nJSON Data Sample:")
print(df_json.head())

JSON Data Sample:
   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...

In [7]:
api_url = "https://randomuser.me/api/?results=5"
response = requests.get(api_url)
data = response.json()
df_api = pd.json_normalize(data['results'])

print("\nREST API Data Sample:")
print(df_api.head())

REST API Data Sample:
  gender                           email           phone            cell nat  \
0   male          diego.mora@example.com     953-863-093     656-154-185  ES
1   male         gautam.nand@example.com      8172361080      7681752215  IN
2   male      alex.guillaume@example.com  05-81-05-74-67  06-95-36-16-59  FR
3   male    nelson.patterson@example.com    04-9699-2582    0448-043-406  AU
4   male  shivansh.prajapati@example.com      9264151850      7565834772  IN

  name.title name.first  name.last  location.street.number  \
0         Mr      Diego       Mora                    8985
1         Mr     Gautam       Nand                    5522
2         Mr       Alex  Guillaume                    6038
3         Mr     Nelson  Patterson                    7335
4         Mr   Shivansh  Prajapati                    6034

  location.street.name  ...  \
0   Avenida de Am√©rica  ...
1            Pali Hill  ...
2       Rue du Village  ...
3       W Belt Line Rd  ...
4            Rajpur Rd  ...

                                        login.sha256  \
0  61639822a7803d0bbbf65e1eb2edd013c92358c67574a0...
1  0eb3192390cf93e224629b651ac6d354226a5daecd0da5...
2  80803212905272bd25a4b6f01f510a3a0bfc9eecaad238...
3  813366dc60084965f4fe806b7bfd9c8e99b2f9ddb1d9dc...
4  1d0c3c8bf62cd736d3c6a6be48f2d5743024e08d3b605f...

                   dob.date dob.age           registered.date registered.age  \
0  1991-10-18T01:18:13.154Z      33  2021-08-25T19:58:38.309Z              3
1  1966-06-30T05:41:12.933Z      59  2016-02-24T03:39:13.288Z              9
2  1963-03-20T00:18:58.683Z      62  2004-06-21T19:11:09.800Z             21
3  1989-10-27T21:34:21.485Z      35  2003-07-19T19:52:06.389Z             22
4  1972-09-15T04:55:14.836Z      52  2011-09-05T19:23:43.021Z             13

  id.name          id.value                                   picture.large  \
0     DNI        87082609-N  https://randomuser.me/api/portraits/men/49.jpg
1   UIDAI      249541608615  https://randomuser.me/api/portraits/men/99.jpg
2   INSEE  1630241699796 18  https://randomuser.me/api/portraits/men/61.jpg
3     TFN         862981464  https://randomuser.me/api/portraits/men/81.jpg
4   UIDAI      508716088780  https://randomuser.me/api/portraits/men/72.jpg

                                      picture.medium  \
0  https://randomuser.me/api/portraits/med/men/49...
1  https://randomuser.me/api/portraits/med/men/99...
2  https://randomuser.me/api/portraits/med/men/61...
3  https://randomuser.me/api/portraits/med/men/81...
4  https://randomuser.me/api/portraits/med/men/72...

                                   picture.thumbnail
0  https://randomuser.me/api/portraits/thumb/men/...
1  https://randomuser.me/api/portraits/thumb/men/...
2  https://randomuser.me/api/portraits/thumb/men/...
3  https://randomuser.me/api/portraits/thumb/men/...
4  https://randomuser.me/api/portraits/thumb/men/...

[5 rows x 34 columns]

In [8]:
# Clean CSV (Iris) data
df_csv_clean = df_csv.rename(columns={'species': 'name'})
df_csv_clean['email'] = None
df_csv_clean['source'] = 'csv'

# Clean JSON (User data)
df_json_clean = df_json[['name', 'email']].copy()
df_json_clean['source'] = 'json'
for col in ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']:
    df_json_clean[col] = None

# Clean REST API (Random users)
df_api_clean = pd.DataFrame({
    'name': df_api['name.first'] + ' ' + df_api['name.last'],
    'email': df_api['email'],
    'source': 'api'
})
for col in ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']:
    df_api_clean[col] = None

In [9]:
# Define common columns
common_cols = ['name', 'email', 'source',
               'sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# Concatenate all sources
unified_df = pd.concat([
    df_csv_clean[common_cols],
    df_json_clean[common_cols],
    df_api_clean[common_cols]
], ignore_index=True)

print("\nUnified Clean Dataset Sample:")
print(unified_df.head(10))

Unified Clean Dataset Sample:
     name email source  sepal_length  sepal_width  petal_length  petal_width
0  setosa  None    csv           5.1          3.5           1.4          0.2
1  setosa  None    csv           4.9          3.0           1.4          0.2
2  setosa  None    csv           4.7          3.2           1.3          0.2
3  setosa  None    csv           4.6          3.1           1.5          0.2
4  setosa  None    csv           5.0          3.6           1.4          0.2
5  setosa  None    csv           5.4          3.9           1.7          0.4
6  setosa  None    csv           4.6          3.4           1.4          0.3
7  setosa  None    csv           5.0          3.4           1.5          0.2
8  setosa  None    csv           4.4          2.9           1.4          0.2
9  setosa  None    csv           4.9          3.1           1.5          0.1

/tmp/ipython-input-475028740.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  unified_df = pd.concat([

In [10]:
# 1. Standardization challenge
print("\n1. The most standardization was needed in aligning column names and missing columns across sources.")

# 2. Common merging issues
print("\n2. Common problems include inconsistent schemas, missing values, or nested/unstructured data formats.")

# 3. Importance of central ingestion layer
print("\n3. A central ingestion and transformation layer ensures consistency, reduces duplication, and enables scalability when handling diverse datasets.")

1. The most standardization was needed in aligning column names and missing columns across sources.

2. Common problems include inconsistent schemas, missing values, or nested/unstructured data formats.

3. A central ingestion and transformation layer ensures consistency, reduces duplication, and enables scalability when handling diverse datasets.